@font-face{
  font-family: eastman;
  src: url("/fonts/Eastman-Regular.ttf")
}
@font-face{
  font-family: eastman-bold;
  src: url("/fonts/Eastman-Bold.ttf")
}
@font-face{
  font-family: eastman-black;
  src: url("/fonts/EastmanRomanTrial-Black.otf")
}
@font-face{
  font-family: lato;
  src: url("/fonts/Lato-Regular.ttf")
}
@font-face{
  font-family: lato-bold;
  src: url("/fonts/Lato-Bold.ttf")
}
@font-face{
  font-family: lato-black;
  src: url("/fonts/Lato-Black.ttf")
}
@font-face{
  font-family: lemon;
  src: url("/fonts/LEMONMILK-Regular.otf")
}
@font-face{
  font-family: lemon-bold;
  src: url("/fonts/LEMONMILK-Bold.otf")
}
@font-face{
  font-family: lemon-medium;
  src: url("/fonts/LEMONMILK-Medium.otf")
}
@import "tailwindcss";

@theme {
  --color-azul: #001A70;
  --color-verde: #97D700;
  --color-rosa: #D60078;
  --color-naranja: #FFA400;
  --color-amarillo: #FFD700;
  --color-verdeSecundario: #CDEA80;
  --color-amarilloSecundario: #F1EB9C;
  --color-rosaSecundario: #F57EB6;
  --color-naranjaSecundario: #FDD26E;

  --font-eastman: eastman;
  --font-eastman-bold: eastman-bold;
  --font-eastman-black: eastman-black;
  --font-lato: lato;
  --font-lato-bold: lato-bold;
  --font-lato-black: lato-black;
  --font-lemon: lemon;
  --font-lemon-bold: lemon-bold;
  --font-lemon-medium: lemon-medium;
}

*{
  scroll-behavior: smooth;
}


